/* Hoja de estilo personalizada */
/* CSS: cascading style sheet */

/* selector de etiqueta */
body {
  background-color: cornflowerblue;
  color: snow;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  text-align: center;
}
